body{
    margin: auto;
    background-image: url(Imagenes/backgraund.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 5px;
    background-position: bottom;
    /* line-height: 15px; */
}

.superior{
    margin: none;
    display: flex;
}

.primerColor , .segundoColor , .tercerColor , .cuartoColor {
margin-top: auto;
margin-bottom: auto;
height: 10px;
width: 45px;
}

.primerColor{
    background-color: #2f1335;
}

.segundoColor{
    background-color: #620e5d;
}

.tercerColor{
    background-color: #ce3762;
}

.cuartoColor{
    background-color: #ff6e49;
}

.Uno{
    color: #2f1335
}

.Dos{
    color: #620e5d;
}

.Tres{
    color: #ce3762;
}

.Cuatro{
    color: #ff6e49;
}

#gifContainer{
    overflow: hidden;
}

.menu , .menuEtiquetas , .menuSelf {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Handlee', cursive;
    font-family: 'Inter Tight', sans-serif;
}

.menu{
    background-color: #2f1335;
}

.menuEtiquetas{
    background-color: #ce3762;
}

.menuSelf{
    background-color: #ff6e49;
}

img{
    height: 70px;
    margin: 10px;
}

.titulo {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 19px;
    padding-bottom: 18px;
    margin-top: -1px ;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eMenu{
    color: aliceblue;
    text-decoration: none;
}

.nativo:hover {
    background-color: #2f1335;
    transition: 0.5s;
}

.tituloEtiqueta:hover{
    background-color: #ce3762;
    transition: 0.5s;
}

.tituloSelf:hover{
    background-color: #ff6e49;
    transition: 0.5s;
}

li , ol , .etiquetaNombre{
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s;
}

.cuerpo{
    height: 400px;
    background-color: rgb(245, 231, 213);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Doodle Shadow', system-ui;
    transition: 0.5s;
}

.cuerpo:hover{
    color: #ff6e49;
}

.mensaje{
    margin-top: 9rem;
    font-size: 60px;
}

.footer{
    background-color: aliceblue;
    color: #53ADC0;
    height: 50px;
    display: flex;
}

p{
    font-size: 14px;
}

/* etiquetas.html */

.menuV , .container{
    height: 700px;
    width: 160px;
    background-color: #2f1335;
    position: sticky;
    top: 0;
    overflow-y: auto;
    z-index: 1000;
}


ol{
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

li{
    margin-top: 1rem;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -43rem;
    margin-left: 10rem;
}

.sintaxis{
    color: blue;
}

.card{
    box-shadow: 10px 10px 10px gray;
    width: 490px;
    margin-right: 1rem;
    margin-left: 2rem;
}

.ejemplo{
    margin-bottom: 2rem;
}


/* icono */

.fa-code , .fa-file-code{
    color: aliceblue;
    margin-left: 47rem;
    margin-top: 10px;
    font-size: 40px;
}

aside {
    /* float: right; */
    width: 350px;
    background-color: #f0f0f0;
    /* padding: 10px; */
    /* margin-left: 10px; */
}


.ejP{
    color: black;
}