body{
    margin: auto;
}

.superior{
    margin: none;
    display: flex;
}

.primerColor , .segundoColor , .tercerColor , .cuartoColor {
margin-top: auto;
margin-bottom: auto;
height: 10px;
width: 45px;
}

.primerColor{
    background-color: #2f1335;
}

.segundoColor{
    background-color: #620e5d;
}

.tercerColor{
    background-color: #ce3762;
}

.cuartoColor{
    background-color: #ff6e49;
}

#gifContainer{
    overflow: hidden;
}

.menu {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Handlee', cursive;
    font-family: 'Inter Tight', sans-serif;
}

.menu{
    background-color: #2f1335;
}

.menuEtiquetas{
    background-color: #ce3762;
}

.menuSelf{
    background-color: #ff6e49;
}

img{
    height: 70px;
    margin: 10px;
}

.titulo {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 20px;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eMenu{
    color: aliceblue;
    text-decoration: none;
}

.eMenu:hover{
    background-color: #9d007a;
    margin-top: -20px;
    padding: 18px;
    /* border-radius: 20px; */
    transition: 0.5s;
}

li , ol , .etiquetaNombre{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.5s;
}

.cuerpo{
    height: 400px;
    background-color: rgb(245, 231, 213);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Doodle Shadow', system-ui;
    transition: 0.5s;
}

.cuerpo:hover{
    color: color-mix(in srgb, rgb(3, 3, 103) 50%, lightblue 50%);
}

.mensaje{
    margin-top: 9rem;
    font-size: 60px;
}

.footer{
    background-color: aliceblue;
    color: #53ADC0;
    height: 50px;
    display: flex;
}

p{
    font-size: 15px;
}

/* etiquetas.html */

.menuV{
    position: sticky;
    overflow-y: auto;
    top: 0;
    z-index: 1000;
    width: 150px;
    background-color: rgb(245, 231, 213);
    height: 680px;
}

ol{
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

li{
    margin-top: 1rem;
}

.frameMenu{
    margin: -3px;
    width: 100% !important;
    height: 90px;
}

.subtitulo{
    margin: none;
    margin-top: 0;
    /* margin-left: 1rem; */
    background-color: #53ADC0;
    color: rgb(30, 0, 139);
}

.contenedor{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -43rem;
    margin-left: 10rem;
}

.sintaxis{
    color: blue;
}

.card{
    box-shadow: 10px 10px 10px gray;
    width: 300px;
    margin-right: 3rem;
}

.ejemplo{
    margin-bottom: 2rem;
}



body{
    background-image: url(Imagenes/backgraund.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 5px;
    /* height: 100px;
    margin-left: 10rem;
    margin-top: 30rem; */
    background-position: bottom;
}